.container {
    padding: 8px 32px;
}

.Search {
    width: 70%;
    padding: 2px;
    outline: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 10px;
    background-color: #fff;
}

.Search input {
    width: 70%;
    border: none;
    padding: 9px 16px;
    box-sizing: border-box;
    border-radius: 10px;
}

.Search input:focus {
    outline: none;
}

.btn {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 9px 16px;
    color: #00002C;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover {
    outline: 1px solid rgba(128, 128, 128, 0.637);
}

.activeCat {
    background-color: #3648CE !important;
    color: white !important;
}

.Search button {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 9px 16px;
    background-color: #3648CE;
    color: white;
    border: none;
    width: 30%;
    transition: transform 0.3s;
}

.btn:active {
    transform: scale(1.2);
}

.categories {
    margin-top: 32px;
}

#categoriesContainer .btn {
    margin: 4px;
    background-color: white;
}

#body {
    padding-top: 32px;
}

.tableStores {
    width: 100%;
}

th {
    padding: 8px 4px;
    text-align: left;
}

tr {
    outline: 1px solid rgb(209, 209, 209);
    background-color: #fff;
}

tr:hover {background-color: #3648ce1c;}

td {
    padding: 8px 4px;
    vertical-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(even):hover {background-color: #3648ce1c;}

#modalStore,#modalPr {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #00002c3f;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.cardMP, .cardproduct {
    width: 80%;
    height: 90%;
    background-color: #fff;
    display: flex;
    padding-top: 32px !important;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    
}

#logoPr, #bannerPr {
    width: 100% !important;
}

.col2 {
    margin-left: 8px;
    display: flex;
    width: 70%;
    flex-direction: column;
}


#products {
    width: 100%;
    margin-top: 8px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    margin-bottom: 16px;
    max-height: 100%;
    overflow: scroll;
}

.gridjs, .gridjs-container {
    box-sizing: border-box !important;
    width: 99% !important;
}

.gridjs-th, .gridjs-footer, .gridjs-input{
    padding: 4px !important;
}

.gridjs-td{
    padding: 2px 4px !important;
}


.dataTableCS{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.btnAct {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablePr {
    width: 100%;
}

.dataProducts {
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}

.editBtn {
    background-color: #3648CE;
    color: #fff;
}

.closeModalPr {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.bdPr {
    width: 100%;
    
}
.dataPr {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4px 0px;
}

#preview {
    width: 20%;
}


.btns, .btnsStore {
    display: flex;
    justify-content: flex-end;
}

.btns button:nth-child(1), .DLCat {
    background-color: #DC3B45;
    color: #fff;
    margin: 0 4px;
}
.btns button:nth-child(2) {
    background-color: #4AA746;
    color: #fff;
    margin: 0 4px;
}

.btnsStore button:nth-child(1), .DLCat {
    background-color: #919191;
    color: #fff;
    margin: 0 4px;
}
.btnsStore button:nth-child(2), .DLCat {
    background-color: #DC3B45;
    color: #fff;
    margin: 0 4px;
}
.btnsStore button:nth-child(3) {
    background-color: #4AA746;
    color: #fff;
    margin: 0 4px;
}

#modalPr{
    z-index: 5;
}

.cardproduct{
    width: 70%;
    height: fit-content;
}

#previewPr{
    max-width: 80%;
    width: auto;
    height: auto;
}

.addCat {
    background-color: #e4e4e4 !important;
}

#modalAddCat, #modalDeleteCat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000002a;
    display: none;
    justify-content: center;
    align-items: center;
}

#modalAddCat > .card,  #modalDeleteCat > .card{
    background-color: #fff;
    border-radius: 20px;
    padding: 32px;
    position: relative;
}

#modalAddCat > .card > input {
    border: none;
    border-radius: 20px;
    padding: 8px 16px; 
}

.storesHeaderCS {
    justify-content: space-between;
    align-items: center;
}

.AC {
    background-color: #3648CE !important;
    color: #fff !important;
    margin-top: 16px;
}

.DLCat {
    height: fit-content;
}

.addStoreBtn {
    background-color: #3648CE;
    color: #fff;
}